/** {*/
/*   background-color: #F0F0F0;*/
/*}*/
.header {
    font-family: Anton Regular, sans-serif;
    font-size: 60px;
}
body {
    font-family: Abel Regular, sans-serif;
    /*font-size: xx-large;*/
    box-sizing: border-box;
    background-color: #F0F0F0;
}
.circle1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    background: #E6563B;
    border: 10px solid white;
    text-align: center;


}
.circle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    background: #EB9D3A;
    border: 10px solid white;
    text-align: center;

}
.circle3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    background: #7CB06C;
    border: 10px solid white;
    text-align: center;

}
.circle4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    background: #00ABA9;
    border: 10px solid white;
    text-align: center;
}

.navbar-brand>img {
    width: 105px;
    height: 105px;
}

.bodyImg {
    border: 8px solid #E6E6E6;
    /*position: relative;*/
}

.smallCircle1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    background: #E6563B;

}
.smallCircle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    background: #EB9D3A;

}
.smallCircle3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    background: #7CB06C;

}
.smallCircle4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    background: #00ABA9;
    font-size: 8px;
}
.cardCircles {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.card {
    background-color: #F0F0F0;
    border: none;
}



